.smart-autosuggestion {
  width: fit-content;
}
.smart-autosuggestion .smart-autosuggestion-input {
  color: black;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  padding: 0.375rem;
  line-height: 1.5rem;
  border: 1px gray solid;
  outline: none;
}

.smart-autosuggestion-result-items {
  border-radius: 0.375rem;
  background-color: white;
  padding: 0.375rem;
  margin: 0;
}
.smart-autosuggestion-result-items li {
  width: 100%;
  list-style: none;
}
